body {
  background-image: url("../images/world.png");
  font-family: 'Courier New', Courier, monospace;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(252, 252, 252, 0.658);
  border-radius: 10px;
  padding: 40px;
  margin-top: 45px;
}

select {
  display: block;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}


h1 {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-bottom: 35px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}


.city {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  padding: 15px 0;
  border-bottom: 2px dashed grey;
}

.time {
  font-size: 45px;
  font-weight: bold;
}

.city:last-child {
  border: none;
}

footer,
a {
  color: #f8f7efe5;
  text-align: center;
}